@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600|Playfair+Display:700,900');

body {
  background-color: #1A1A1A;
  color: black;
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  color: #E6E6E6;
  padding: 0;
  margin: 0;
}
/* Hey! Thanks for checking out my code, I opted to make my own grid
  system cause I heard you could do it in a few lines of code with flexbox.

  If you're looking at doing a responsive design and need some help
  making your own grid system shoot me a message! connordear@gmail.com
  */
.nav-grid {
  flex-direction: row;
  justify-content:flex-end;
}
.nav-bar {
  margin: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  opacity: 0.8;
}
.nav-img {
  max-height: 1em;
  margin: 10px;
  margin-left: 30px;
  display: inline-block;
  float: left;
}
.nav-link {
  text-decoration: none;
  float: left;
  opacity: 0.7;
  margin-left: 10px;
}
.nav-link:hover {
  text-decoration: line-through;
  text-decoration-color: #FFDA00;
  opacity: 1;
}
.nav-title {
  margin: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 300;
  text-align: right;
  color: black;
}
.grid {
  display: flex;
  transition: 0.5s;
}
.col {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.center {
  align-items: center;
  justify-content: center;
}
.title-col {
  /* visibility: hidden; */
  flex: 3;
}
.title-grid {
  animation: title-grid-flux 6s alternate infinite;
}
@keyframes title-grid-flux {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes title-flux {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes sub-header-flux {
  0% {
    color: white
  }
  100% {
    color: #A9A9A9
  }
}

.wrapper-z {
  position: relative;
  height: 2em;
  transform: translateY(-2em);
}
#about-wrap {
  transform: translateY(-2.5em);
}
.button {
  display: inline-flex;
  max-width: 100px;
  padding: 15px;
  background-color: #a38d0a;
  color: #FFFFFF;
  border-radius:4px;
  transition: 0.2s;
  margin: 10px;
}

.button:hover {
  background-color: #FFDA00;
  transition: 0.2s;
}

a.button {
  text-decoration: none;
}

.about-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
}

.yellow-highlight-title {
  position: relative;
  background-color: #FFDA00;
  height: 2em;
  width: 24em;
  margin: 0 auto;
  opacity: 0.8;
  z-index: -1;
}

.yellow-highlight {
  position: relative;
  background-color: #FFDA00;
  height: 1em;
  width: 0;
  margin: 0 auto;
  opacity: 0.8;
  z-index: -1;
}
.projects-yel {
  width: 9em; 
}
.design-yel {
  width: 8em;
}
.dev-yel {
  width: 16em;
}
.eng-yel {
  width: 15em;
}
.art-yel {
  width: 5em;
}
.about-yel {
  width: 11em;
  opacity: 0.6;
}
.full-screen {
  height: 100vh;
}
.contact-yel {
  width: 13em;
  opacity: 0.6;
}
.title {
  animation: title-flux 6s alternate infinite;
  color: white;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 0;
}
.title-wrap {
  position: relative;
  z-index: 10;
}

.about-grid {
  /* transform: translateX(-9999px); */
  position: relative;
}
.about-img {
  width: 50%;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
  
}
.about-grid > .col > .grid > .right-text > .heading {
  color: white;
}
.contact-grid > .col > .heading {
  color: white;
}
.about-img:hover {
  border-radius: 0;
  transition: 0.5s;
}
.about-text {
  margin: 40px;
  margin-top: 10px;
  font-weight: 100;
}
.sub-header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #E6E6E6;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  animation: sub-header-flux 6s alternate infinite;
}
.sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #E6E6E6;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}

.projects-section {
  background-color: white;
  color: #1A1A1A;
  padding-top: 50px;
}
.project-cont {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  transition: 0.5s;
}
.project-cont:hover {
  /* Alright this box shadow is from w3 but they nailed it.*/
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}
.project-img {
  width: 80%;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}
.project-title {
  text-align: left;
  color: #1A1A1A;
  font-weight: 400;
}
.project-link-right {
  text-transform: lowercase;
}
.text {
  font-weight: 400;
}
.heading {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  color: black;
  position: relative;
  z-index: 10;
}
.heading-space {
  padding-top: 60px;
}
.project-cont.project-left > .project-img-col {
  order: 2;
}
.project-cont.project-left > .col > .project-title, .project-left > .col > .text{
  text-align: right;
}
.media-grid {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.media-img {
  max-width: 75px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  opacity: 0.5;
  transition: 0.5s;
}
.media-img:hover {
  opacity: 1;
  padding: 7px;
  border: 1px solid #FFDA00;
  border-radius: 100%;
  transition: 0.5s;
}
.footer-style {
  text-align: center;
  margin: 10px;
}
@media (max-width: 550px) {
  .grid {
    flex-direction: column;
    transition: 0.5s;
  }
  .title-grid > .col > .grid > .col {
    margin-top: 50px;
  }
  .title {
    font-size: 2.5em;
  }
  .yellow-highlight-title {
    width: 20em;
    height: 1em;
    transform: translateY(0.5em);
  }
  .about-grid {
    height: auto;
    padding-top: 50px;
  }
  .project-cont.project-left > .project-img-col {
    order: 0;
  }
  .project-cont.project-left > .col > .text{
    text-align: left;
  }
  .project-cont.project-left > .col > .project-title {
    text-align: center;
  }
  .project-cont > .col > .project-title {
    text-align: center;
  }
  .media-grid > .col {
    margin: 10px;
  }
  .down-arrow {
    visibility: hidden;
  }
}
@media (max-width: 800px) {
  .about-img {
    width: 80%;
  }
  .project-img-col {
    flex: 2;
    width: 100%;
    transition: 0.5s;
  }
  .media-grid {
    width: 80%;
  }
}
@media (max-width: 880px) {
  .nav-bar {
    visibility: hidden;
  }
}

.down-arrow{
  display: block;
  margin: 0 auto;
  margin-top: 160px;
}
.arrow-bounce {
	-moz-animation: arrow-bounce 3s infinite;
	-webkit-animation: arrow-bounce 3s infinite;
	animation: arrow-bounce 3s infinite;
}
@-moz-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
