@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Playfair+Display:700,900");

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ffffff;
  color: black;
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
/* Hey! Thanks for checking out my code, I opted to make my own grid
  system cause I heard you could do it in a few lines of code with flexbox.

  If you're looking at doing a responsive design and need some help
  making your own grid system shoot me a message! connordear@gmail.com
  */
.nav-grid {
  flex-direction: row;
  justify-content: flex-end;
}
.nav-bar {
  margin: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  opacity: 0.8;
}
.nav-img {
  max-height: 1em;
  margin: 10px;
  margin-left: 30px;
  float: left;
}
.nav-link {
  text-decoration: none;
  float: left;
  opacity: 0.7;
  margin-left: 10px;
}
.nav-link:hover {
  text-decoration: line-through;
  text-decoration-color: #fccd33;
  opacity: 1;
}
.nav-title {
  margin: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 300;
  text-align: right;
  color: black;
}
.grid {
  display: flex;
}
.col {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.center {
  align-items: center;
  justify-content: center;
}

.full-screen {
  width: 100%;
  height: 100vh;
}

.button {
  display: inline-flex;
  max-width: 100px;
  padding: 15px;
  background-color: #fccd33;
  color: black;
  border-radius: 4px;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  transition: background-color 0.15s;
  margin: 10px;
}

.button:hover {
  background-color: black;
  color: white;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

a.button {
  text-decoration: none;
}

.about-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
}

.heading-wrapper {
  text-align: center;
}

.heading {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  color: black;
  position: relative;
  z-index: 10;
}

.yellow-highlight {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(90deg, transparent 50%, #fccd33 0);
  background-position: 0% 110%;
  background-size: auto;
  background-repeat: repeat-x;
  background-size: 200% 52%;
  -moz-transition: background-position 0.5s;
  -webkit-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  -ms-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.show-highlight {
  background-position: -100% 110%;
  -moz-transition: background-position 1s;
  -webkit-transition: background-position 1s;
  -o-transition: background-position 1s;
  -ms-transition: background-position 1s;
  transition: background-position 1s;
}

.title {
  color: black;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 0;
}

.title-wrapper {
  /* position: relative; */
  z-index: 10;
}

.about-grid {
  /* transform: translateX(-9999px); */
  position: relative;
  min-height: 890px;
  max-width: 1200px;
  margin: 0 auto;
}
.about-img {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container-2 {
  position: relative;
  max-width: 70%;
  display: grid;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  /* grid-column-gap: 30px; */
  /* grid-row-gap: 30px; */
  margin-bottom: 100px;
}

.curr-text {
  max-width: 700px;
  font-weight: 300;
}
.curr-img-cont {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  /* left: 10%;   */
  /* max-height: 500px; */
  margin-bottom: 50px;
}

.current-img {
  display: block;
  position: absolute;
  left: -5%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
@media (max-width: 900px) {
  .current-img {
    left: 0%;
    width: 100%;
    height: auto;
  }
  .curr-img-cont {
    margin-bottom: 0;
  }
}

.square-corners {
  border-radius: 0;
}
/* .about-img:hover {
  border-radius: 0;
  transition: border-radius 0.5s;
  -webkit-transition: border-radius 0.5s;
  -moz-transition: border-radius 0.5s;
  -o-transition: border-radius 0.5s;
  -ms-transition: border-radius 0.5s;
} */
.about-text {
  margin: 40px;
  margin-top: 10px;
  font-weight: 300;
  color: black;
}

.sub-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: rgb(147, 147, 147);
  font-weight: 300;
  text-align: center;
}

.grid-container {
  margin: auto;
  max-width: 900px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 100px;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.grid-item:hover > img {
  opacity: 0.3;
  transition: 0.2s;
}

.grid-item:hover > .project-title {
  display: inline-block;
  text-align: center;
  transition: 0.3s;
}

.project-title {
  display: none;
  position: absolute;
  font-weight: 600;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-img:hover {
  opacity: 0.3;
}

.modal-bg {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 50;
}

.modal-data {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 90%;
  max-width: 700px;
  /* height: 600px; */
  left: 0;
  right: 0;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 10px;
}

.modal-data > p {
  margin: 30px;
}

.modal-data > h3 {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.2em;
}

.modal-data > img {
  display: block;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal-close-btn {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  color: black;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
}

.modal-close-btn:hover {
  background-color: #fccd33;
  color: black;
  transition: 0.25s;
  cursor: pointer;
}

.scroll-project-wrapper {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.text {
  font-weight: 300;
  letter-spacing: 0.25px;
}

.project-cont.project-left > .project-img-col {
  order: 2;
}
.project-cont.project-left > .col > .project-title,
.project-left > .col > .text {
  text-align: right;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-grid {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.media-img {
  max-width: 75px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  transition: background-color 0.25s;
  background-color: black;
}
.media-img:hover {
  /* padding: 7px; */
  /* border: 1px solid #FCCD33; */
  background-color: #fccd33;
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.footer-style {
  text-align: center;
  font-weight: 300;
  margin: 10px;
}
@media (max-width: 630px) {
  .current-img {
    top: 40px;
  }
  .grid-container {
    margin: 0 auto;
    margin-left: 20px auto;
    margin-right: 20px auto;
    grid-template-columns: auto;
    max-width: 300px;
  }

  .modal-data {
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    padding: 0 auto;
    overflow-y: scroll;
    overflow-x: hide;
    border-radius: 0;
  }

  .modal-data > img {
    max-width: 90%;
  }

  .grid {
    flex-direction: column;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

  .title {
    margin-top: 200px;
    font-size: 2.5em;
  }
  .sub-header {
    font-size: 0.75em;
  }

  .about-grid {
    padding-top: 50px;
  }

  .media-grid > .col {
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .media-grid {
    width: 80%;
  }
}
@media (max-width: 880px) {
  .nav-bar {
    visibility: hidden;
  }

  #dev .grid {
    flex-direction: column;
    margin: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .project-img-col {
    flex: 2;
    width: 80%;
  }
  .project-cont:hover {
    box-shadow: none;
    /* transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s; */
  }
  .project-cont.project-left > .project-img-col {
    order: 0;
  }
  .project-cont.project-left > .col > .text {
    text-align: left;
  }
  .project-cont.project-left > .col > .project-title {
    text-align: center;
  }
  .project-cont > .col > .project-title {
    text-align: center;
  }
}

.down-arrow {
  display: block;
  margin: 0 auto;
  margin-top: 160px;
}
.arrow-bounce {
  -moz-animation: arrow-bounce 3s infinite;
  -webkit-animation: arrow-bounce 3s infinite;
  animation: arrow-bounce 3s infinite;
}
@-moz-keyframes arrow-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes arrow-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes arrow-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
