body {
    font-size: 100%;
    font-family: BrandonGrotesque-Regular, "futura-pt-1","futura-pt-2", Verdana, serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #C9CEC9;
    margin: 0px;
    padding: 0px;
}
.content {
  display: block;
  margin: 0 auto;
  width: 900px;
  padding: 15px 40px 40px;
}
.header {
  display: block;
  text-align: center;
}
.name {
  text-align: center;
  letter-spacing: 4px;
  font-size: 70px;
  text-transform: capitalize;
  font-family: BrandonGrotesque-Black, "futura-pt-1","futura-pt-2", Verdana, sans-serif;
  font-weight: bold;
  padding-bottom: 40px;
  margin-bottom: 15px;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  letter-spacing: 2px

}
h3 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #000;
}
img{max-width: 100%;}
.name {
  margin-top: 50px;
}

.contact-info-phone {
  display: inline;
}
.contact-info-email {
  display: inline;
}
.contact-info-linkedin {
  display: inline;
}
#contact-info-cont {
    height: 0px;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
    border-left: 20px solid #C9CEC9;
    border-right: 20px solid #C9CEC9;
    width: 860px;
    display: block;
    margin-bottom: 15px;
}
#contact-info {
  display: block;
  position: relative;
  bottom: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #c3996b;
}
